body{
    background-image: url('https://burst.shopifycdn.com/photos/flatlay-iron-skillet-with-meat-and-other-food.jpg?width=1000&format=pjpg&exif=0&iptc=0');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}