body{
    background-image: "url(https://wallpapers.com/images/high/festive-indian-food-with-rice-and-chicken-i39qrhkpvunqe0hb.webp)";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover  ;
}